<!DOCTYPE html>
<html lang="en">
    <aside class="background-color:main-3">
        <section class="">
            <h1 class="d:none">메뉴</h1>
                <section >        
                   <a href>로그인</a>
                        
                  <nav>
                   <h1>StartUps</h1>                                        <!--1. 첫번째 창업 메뉴 -->
                        <ul>
                            <li><a class="d:none md:d:inline" href="">인터뷰</a></li>
                            <li><a class="d:none md:d:inline" href="">100인의 인터뷰</a></li>
                            <li><a class="d:none md:d:inline" href="">아이디어 Share</a></li>
                            <li><a class="d:none md:d:inline" href="">창업뉴스</a></li>
                            <li><a class="d:none md:d:inline" href="">멘토</a></li>
                        </ul> 
                    </nav> 
                </section>
    </aside>
</html>