<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
    <!-- <header class="header md:header"> -->
    <header class="background-color:main-3
                       color:base-0
                       height:2
                       d:flex">
        <div class="d:flex 
                    align-items:center">
        <h1 class="font-size:5
                   font-weight:1
                   d:flex 
                   d:justify-content:center
                   align-items: center">
                   <a href="/index.html">
                    Mayo
                   </a>
        </h1>
       

            <nav class="main-menu d:flex d:justify-content:center">
                
                <!-- 1.미디어 : 모바일 화면 시 메뉴 아이콘으로 출력 됨 -->
                <ul class="md:d:none ">
                    <li>
                        <a class="icon icon-menu md:icon-size:3 icon-color:base-0" href="">메뉴(아이콘)
                        </a>
                    </li>
                </ul>

                <!-- 2.PC 화면상에서의 메뉴 출력 -->               
                <!-- 2.1.상단 좌측의 메뉴 명(HOME, OurService...) -->
                <ul class="d:none md:d:flex height:60px" th:each="menu : ${menuList}">
                    <li>
                        <a th:text="${menu.korName}">
                            메뉴명
                        </a>
                    </li>                   
                </ul>
            </div>
    </header>
</html>