<!DOCTYPE html>
<html lang="en" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
     <meta charset="utf-8">
     <title>Mayo Website - Make Your Own Business and Brand</title>
     <meta content="width=device-width, initial-scale=1.0" name="viewport">
     <meta content="Free HTML Templates" name="keywords">
     <meta content="Free HTML Templates" name="description">

     <!-- Favicon -->
     <!-- <link href="image/favicon.ico" rel="icon"> -->
     
     <!-- Google Web Fonts -->
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
     
     <!-- Icon Font Stylesheet -->
     <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/animate/animate.min.css" rel="stylesheet">


     <!-- Customized Bootstrap Stylesheet -->
     <link href="/css/components/index/bootstrap.min.css" rel="stylesheet">

     <!-- Template Stylesheet -->
     <link href="/css/components/index/style.css" rel="stylesheet">
     
      <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/wow/wow.min.js"></script>
    <script src="/easing/easing.min.js"></script>
    <script src="/waypoints/waypoints.min.js"></script>
    <script src="/counterup/counterup.min.js"></script>
    <script src="/owlcarousel/owl.carousel.min.js"></script>
    <script src="/js/main.js"></script>

     <!-- newtill.css / root.css -->
     <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/newtil-css@0.1.32/dist/style.css" /> 
     <link href="/css/root.css" rel="stylesheet"/> 
     <link href="/css/paging.css" rel="stylesheet"/> 
     <link href="/css/util/width.css" rel="stylesheet"/> 
     <link href="/css/components/button.css" rel="stylesheet"/> 
     <!-- <link href="/css/root.css" rel="stylesheet" type="text/css"> -->
</head>
<body>

    <!-- 1.header 부분 : 파셜 fragment 먼트 페이지 쉐어드 insert/replace/include -->
    <!-- 홈 디렉토리는 templete -->
    <!-- body 부분만 떼어옴 -->
    <!--<div th:replace="~{inc/header::.header}"></div>   : body 남길때 이렇게 사용한다.-->
    <!-- 뒤에 div를 제대로 써주지 않아서 이후 코드가 출력되지 않았음. -->
    <div th:replace="~{inc/header}"></div>

<!-- <div class="d:flex"> -->
     <div>
   <!-- <div th:replace="~{inc/aside}"></div> -->

    <!-- 2.main 부분 -->
    <!-- <div th:replace="~{inc/main::.main}"></div>       -->
        <div layout:fragment="main"></div>
    </div>

     <!-- 3.footer 부분 -->
<!-- <div th:replace="~{inc/footer::.footer}"></div>   -->
     <div th:replace="~{inc/footer}"></div>
</body>
</html>