<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="inc/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="/js/admin/newsSourceList.js"></script>
</head>
<body>
    <main layout:fragment="main">    
      <section class="d:flex margin-left:auto margin-right:auto padding:10">      
        <div >
          <h1 class="d:none">뉴스 Source</h1>
          <div>
              <h1 class="d:none">뉴스 Source 목록</h1>
              <table class="n-table n-table-hover">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">DOMAIN</th>
                    <th scope="col">URL</th>
                    <th scope="col">사용여부</th>
                    <th scope="col">등록자</th>
                    <th scope="col">등록일</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="list : ${list}">
               <!-- <th scope="row" th:text="${list.id}">1</th> -->
                    <td th:data-id="${list.id}" th:text="${list.id}">1</td>     
                    <td th:data-id="${list.id}" th:text="${list.name}">뉴스앤잡</td>
                    <td th:data-id="${list.id}" th:text="${list.domain}">도메인</td>
                    <td th:data-id="${list.id}" th:text="${list.url}">https://</td>
                    <td th:data-id="${list.id}" th:text="${list.useYn}">사용</td>
                    <td th:data-id="${list.id}" th:text="${list.id}">강윤지</td>
                    <td th:data-id="${list.id}" th:text="${list.regDate}">2020-11-01</td>
                  </tr>
                </tbody>
              </table>
          </div>
        </div>
        <form action="regist" method="post" class="n-form min-width:10 margin-left:5">
          <h1 class="n-font:h3 font-weight:3 text-align:center">✏️뉴스 Source 등록</h1>
          <div>
            <label>
              <span>ID</span>
              <input type="text" name="id"     value="" placeholder="ID는 자동생성 됩니다" />
            </label>
          </div>
          <div>
            <label>
              <span>CODE</span>
              <input type="text" name="code"   value="" placeholder="CODE를 입력해주세요" />
            </label>
          </div>  
          <div>
            <label>
              <span>NAME</span>
              <input type="text" name="name"   value="" placeholder="스케줄 JOB 이름을 입력해주세요" />
            </label>
          </div>     
          <div>
            <label>
              <span>DOMAIN</span>
              <input type="text" name="domain" value="" placeholder="도메인을 입력해주세요" />
            </label>
          </div>    
          <div>
            <label>
              <span>URL</span>
              <input type="text" name="url"    value="" placeholder="URL을 입력해주세요" />
            </label>
          </div>     
          <div>
            <label>
              <span>사용여부</span>
              <input type="checkbox" class="n-toggle" />
            </label>
          </div>
          <div id="btn-list" class="d:flex flex-direction:row justify-content:center">
            <button type="reset"  class="n-btn btn-initial">초기화</button>
            <button type="submit" class="n-btn btn-regist">등록하기</button>
            <button type="submit" class="n-btn btn-modify">수정하기</button>
          </div>
        </form>
      </section>
    </main>
</body>
</html>