<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="inc/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main layout:fragment="main">    
        <section id="community" class="margin-right:auto margin-left:auto padding:10">
            
            <div class="text-align:right">
                <button type="button" class="n-btn n-btn:filled n-btn-size:2">게시글 등록</button>
              </div> 

            <h1>커뮤니티 게시글 목록</h1>
            <ul class="n-list n-list-item:shadow">
                <li class="d:flex">
                  <!-- <div class="h:2 w:2 bd-radius:3 of:hidden">
                    <img
                      alt="americano"
                      src="/coffe_americano.png"
                      class="h:100p w:100p obj-fit:cover" />
                  </div> -->
                  <div class="ml:6">
                    <div class="n-font:subtitle">일상</div>
                    <div class="n-font:subtitle">이제 막 런칭한 스타트업이 반드시 SNS 마케팅을 해야하는 이유</div>
                    <div class="color:base-7 font-weight:2"><p>신규 플랫폼을 위한 SNS 마케팅 전략안녕하세요!오늘은 스타트업의 신규 서비스를 성공적으로 홍보하기 위한 SNS 마케팅 전략에 대해 이야기해보려고 합니다.​요즘은 새로운 서비스가 시장에 나올 때마다 소비자들의 주목을 끌기 위해 다양한 마케팅 전략이 필요한 시대입니다.그 중에서도 SNS(Social Network Service)를 활용한 마케팅은 투입하는 비...</p></div>
                  </div>
                </li>
              </ul>
        </section>
    </main>
</body>
</html>
<script>

    var writeCommunity = document.getElementById("");

</script>