<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!-- 구현하고자 하는 인터페이스의 전체 경로와 인터페이스 명을 네임스페이스에 적는다. -->  
<mapper namespace="kr.co.mayo.dreamon.repository.MemberRepository">

<select id="findByUsername" resultType="Member">
    SELECT *
      FROM MEMBER
     WHERE USERNAME = #{username}
  </select>


 <select id="getGoogleIdCount">
    SELECT COUNT(ID)
      FROM MEMBER
     WHERE ID = #{googleId}
  </select> 

   <insert id="saveGoogleNewMember">
  INSERT INTO mayodb.MEMBER (PWD, KOR_NAME, ENG_NAME, PHONE, EMAIL, TYPE, JOIN_DATE, WITHDRAWAL_DATE) VALUES ('22222','강윤아','KANG YOON AH', '01030417901', 'V921001@naver.com', 'P', CURRENT_TIMESTAMP(), null);
  </insert> 

  <insert id="insertMember">
  INSERT INTO mayodb.MEMBER (PWD
                          , KOR_NAME
                          , ENG_NAME
                          , PHONE
                          , EMAIL
                          , JOIN_DATE
                          , TYPE_CATEGORY_ID
                          , WITHDRAWAL_DATE
                          ) VALUES 
                          ( #{password}
                          , #{korname}
                          , #{engname}
                          , #{phone}
                          , #{email}
                          , CURRENT_TIMESTAMP()
                          , '1'
                          , null)
  </insert> 
</mapper>