<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!-- 구현하고자 하는 인터페이스의 전체 경로와 인터페이스 명을 네임스페이스에 적는다. -->  
<mapper namespace="kr.co.mayo.dreamon.repository.NewsRepository">

  <select id="findAll" resultType="News">
    SELECT *
      FROM NEWS
    <where>
      <if test="query != null">
       AND TITLE   LIKE '%${query}%'
        OR SUMMARY LIKE '%${query}%' 
      </if>
    </where>
      LIMIT #{offset}, #{size}
  </select>

  <select id="Count" resultType="Integer">
    SELECT count(*)
      FROM NEWS
    <where>
      <if test="query != null">
       AND TITLE   LIKE '%${query}%'
        OR SUMMARY LIKE '%${query}%'
      </if>
    </where>
  </select>


  <select id="checkDupNewsData" resultType="Integer">
    SELECT count(*)
      FROM NEWS
     WHERE IDX_NO = #{newIdxNo}
  </select>
  
  <insert id="saveNewNewsData"> 
	  INSERT INTO NEWS ( IDX_NO
                     , YEAR
                     , TITLE
                     , SUMMARY
                     , REG_DATE
                     , NEWS_CATEGORY_ID)
               VALUES( #{idxNo}
                     , #{year}
                     , #{title}
                     , #{summary}
                     , now()
                     , #{newsCategoryId}
                     )
  </insert>
</mapper>