<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="inc/layout">
<head>
    <!-- <script src="/js/news/list.js"></script> -->
</head>      
    <main layout:fragment="main">
        
        <!-- 19강 : 헤더외에 다른 부수적인 정보가 들어갈 때, 컨텐트 말고(ex : 전체명소, 더 보기 )-->
        <!-- 헤더는 섹션 태그가 아니며 여기는 헤더 영역이에요를 알리는 것, header의 섹션은 body : HTML 19강-->
        <!-- 영상 기준에서 Rland는 헤더 영역에 있었음.
             내 코드 상에서는 Mayo가 제일 큰 제목이 될듯. -->
        <!-- 헤더라는 태그는 섹션 마다 가지고 있을 수 있음. -->     
        <header>
            <h1 class="n-font n-font:heading-1 margin-top:5 text-align:center">창업 뉴스</h1>                                            <!-- 문서 전체의 제목 -->
            <p  class="margin-top:2 text-align:center">함께 만들어가는 창업 생태계를 위한 뉴스 정보</p>   <!-- P : 블럭 태그 -->
        </header>
        
        <!-- div : card list(카드 아이템을 감싸고 있는 전체 영역) -->
        <div class="padding:10"> 
            
            <section class="menu-filter d:flex justify-content:center">
                <h1 class="d:none">뉴스 검색</h1>
                <!-- <nav class="category-filter">
                    <h1 class="d:none">카테고리 검색 메뉴 목록</h1>
                    <ul>
                        <li><a class="sm:deco current md:deco sm:icon-filter_list" href="">전체기사</a></li>
                        <li><a class="d:none md:d:inline" href="">창업뉴스</a></li>
                        <li><a class="d:none md:d:inline" href="">창업트렌드</a></li>
                        <li><a class="d:none md:d:inline" href="">샌드위치</a></li>
                        <li><a class="d:none md:d:inline" href="">쿠키</a></li>
                    </ul>
                </nav> -->
                <section style="width: 50%;" class="" >
                    <h1 class="d:none">이름 검색 폼</h1>
                    <form style="background-color: #06A3DA" class="n-form n-form-type:underline" action="list" method="get">
                        <fieldset class="d:flex justify-content:center">
                            <span class="d:none">뉴스 검색</span>
                            <legend class="d:none">뉴스 검색</legend>
                            <input class="box-sizing:border-box" type="text" placeholder="뉴스 검색" name="q">
                            <button class="icon icon:magnifying_glass">검색</button>
                        </fieldset>
                    </form>
                </section>
            </section>

            <div class="margin-left:auto margin-right:auto max-width:20 margin-top:5 d:flex justify-content-between">
                <div >
                    <span class="deco deco-size:2 icon:push_pin_fill margin-left:1">기사(전체 : <span class="margin-left:1" th:text="${count}">1</span>건)
                </div>
                <!-- 뉴스 검색 폼 : 검색 필터 영역 -->
                <div>
                    <ul class="w:full d:flex jc:center gap:4">
                        <li>
                          <label class="font-size:2 font-weight:1">
                            제목
                            <input type="radio" class="n-toggle n-toggle-type:dot" name="filter" />
                          </label>
                        </li>
                        <li>
                          <label class="font-size:2 font-weight:1">
                            제목 + 컨텐츠
                            <input type="radio" class="n-toggle n-toggle-type:dot" name="filter" />
                          </label>
                        </li>
                      </ul>
                </div>    
            </div>

            <div class="margin-left:auto margin-right:auto margin-top:2 max-width:20">
                <!-- 제목과 컨텐츠를 묶어주는 태그가 섹션태그 -->
                <article class="n-item n-item:underline margin-top:2 d:flex align-items:center" th:each="news : ${newsList}">
                    <!-- 표, 폼, 문장, 목록에는 제목을 달아주도록 한다. 즉 다섯개의 컨텐츠가 아닌 녀석에는 제목을 달아주지 않는다. HTML 13강 -->
                    <div class="h:3 w:3 bd-radius:3 box-sizing: border-box of:hidden">
                        <!-- <img class="h:3 w:3 bd-radius:3 of:hidden" alt="americano" src="/imagePath/2024/03/25/0_4272_4094_539_v150.jpg"/> -->
                        <img class="h:3 w:3 bd-radius:3 of:hidden" alt="americano" src="/imagePath/2024/03/25/0_4272_4094_539_v150.jpg" th:src="${news.imgPath}" />
                    </div> 
                    
                    <div class="d:flex flex-direction:column padding:2">
                        <div class="d:flex justify-content-between">
                            <h1>
                                <a  class="font-size:3 font-weight:3"
                                    th:href="${news.link}" 
                                    th:text="${news.title}"
                                    target="_top">
                                    뉴스 제목
                                </a>
                            </h1>
                            <button class="icon icon-size:3 icon icon:bookmark_simple">
                                스크랩
                            </button>
                        </div>
                        <p th:text="${news.summary}" class="font-size:1">
                            뉴스 요약 내용
                        </p>
                    </div>
                </article>
            </div>    
        </div>
        
    
        </seciton>
    </main>   
</html>