<!DOCTYPE html>
<html lang="en" 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="inc/layout"
>
<head>

</head>
<body>
    <main layout:fragment="main">    
        <div class="margin-right:auto margin-left:auto max-w:10 padding:10">
        <form class="n-form" action="join" method="post">
            <h1 class="n-font:h3 font-weight:3">✏️ member 가입</h1>
            <div>
              <label>
                <span>이름</span>
                <input type="text" name="korname" placeholder="이름을 입력해주세요" />
              </label>
            </div>
            <div>
              <label>
                <span>비밀번호</span>
                <input type="text" name="password" placeholder="리뷰 제목을 입력해주세요" />
              </label>
            </div>
            <div>
              <label>
                <span>영문이름</span>
                <input type="text" name="engname" placeholder="리뷰 제목을 입력해주세요" />
              </label>
            </div>
            <div>
                <label>
                  <span>핸드폰 번호</span>
                  <input type="text" name="phone" placeholder="리뷰 제목을 입력해주세요" />
                </label>
              </div>
              <div>
                <label>
                  <span>이메일 주소</span>
                  <input type="text" name="email" placeholder="리뷰 제목을 입력해주세요" />
                </label>
              </div>
            <div>
              <div>만족도</div>
              <fieldset class="d:flex gap:4">
                <label class="flex-direction:row ai:center gap:3">
                  <input type="radio" name="satisfaction" class="n-toggle n-toggle:dot" />
                  <span>1</span>
                </label>
                <label class="flex-direction:row ai:center gap:3">
                  <input type="radio" name="satisfaction" class="n-toggle n-toggle:dot" />
                  <span>2</span>
                </label>
                <label class="flex-direction:row ai:center gap:3">
                  <input type="radio" name="satisfaction" class="n-toggle n-toggle:dot" />
                  <span>3</span>
                </label>
                <label class="flex-direction:row ai:center gap:3">
                  <input type="radio" name="satisfaction" class="n-toggle n-toggle:dot" />
                  <span>4</span>
                </label>
                <label class="flex-direction:row ai:center gap:3">
                  <input
                    type="radio"
                    name="satisfaction"
                    class="n-toggle n-toggle:dot"
                    checked />
                  <span>5</span>
                </label>
              </fieldset>
            </div>
            <div>
              <label>
                <span>리뷰 공개 여부</span>
                <input type="checkbox" class="n-toggle" />
              </label>
            </div>
            <div>
              <button class="n-btn">등록하기</button>
            </div>
          </form>
        </div>
    </main>
</body>
</html>