<!DOCTYPE html>
<html lang="en" 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="inc/layout"
>
<head>
<script src="/js/user/join.js"></script>
</head>
<body>
    <main layout:fragment="main">    
        
        <section id="join-info" class="margin-right:auto margin-left:auto max-w:10 padding:10">
            <h1 class="d:none">회원가입 입력 영역</h1>
            <form class="n-form" action="join" method="post">
              <h1 class="n-font:h3 font-weight:3">✏️ 회원 가입</h1>
              <div>
                <label>
                  <span>이름</span> 
                  <input class="input" type="text" name="name" placeholder="이름을 입력해주세요" />
                  <span class="span" name="focus-name"></span>
                </label>
              </div>
              <div>
                <label>
                  <span>아이디</span>
                  <input class="input" type="text" name="display-name" placeholder="사용하실 아이디를 입력해주세요" />
                </label>
              </div>
              <div>
                <label>
                  <span>비밀번호</span>
                  <input class="input" type="text" name="password" placeholder="비밀번호를 입력해주세요" />
                </label>
              </div>
              <div>
                <label>
                  <span>연락처</span>
                  <input class="input" type="text" name="phone" placeholder="연락처를 입력해주세요" />
                </label>
              </div>
              <div>
                <label>
                  <span>이메일</span>
                  <input class="input" type="text" name="email" placeholder="이메일을 입력해주세요" />
                </label>
              </div>
              <div>
                <div>회원종류</div>
                <fieldset class="d:flex gap:4">
                  <label class="flex-direction:row ai:center gap:3">
                    <input type="radio" name="satisfaction" class="n-toggle n-toggle:dot" />
                    <span>일반</span>
                  </label>
                  <label class="flex-direction:row ai:center gap:3">
                    <input type="radio" name="satisfaction" class="n-toggle n-toggle:dot" />
                    <span>창업가</span>
                  </label>
                  <label class="flex-direction:row ai:center gap:3">
                    <input type="radio" name="satisfaction" class="n-toggle n-toggle:dot" />
                    <span>브랜더</span>
                  </label>
                  <label class="flex-direction:row ai:center gap:3">
                    <input type="radio" name="satisfaction" class="n-toggle n-toggle:dot" />
                    <span>투자자</span>
                  </label>
                </fieldset>
              </div>
        <!-- <div>
                <label>
                  <span>공개 여부</span>
                  <input type="checkbox" class="n-toggle" />
                </label>
              </div> -->
              
              <!-- 버튼 영역 -->
              <div>
                <button class="n-btn">가입하기</button>
              </div>
          </form>
        </div>
    </main>
</body>
</html>