<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
                layout:decorate="inc/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="/css/reset.css" rel="stylesheet" type="text/css">
    <link href="/css/root.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/icon.css" rel="stylesheet" type="text/css">
    <link href="/css/button.css" rel="stylesheet" type="text/css">
	<link href="/css/heading.css" rel="stylesheet" type="text/css">
    <link href="/css/util/content.css" rel="stylesheet" type="text/css">
    <link href="/css/util/box.css" rel="stylesheet" type="text/css">
    <link href="/css/util/layout.css" rel="stylesheet" type="text/css">
    <link href="/css/util/form.css" rel="stylesheet" type="text/css">    
    <!-- <link href="/css/components/header.css" rel="stylesheet" type="text/css"> -->
    <link href="/css/components/user/login.css" rel="stylesheet" type="text/css">
    <link href="/css/components/footer.css" rel="stylesheet" type="text/css">
</head>
<body>
    <main layout:fragment="main">
        <section class="login-form">
            <h1 class="heading-7 text-align:center">Mayo Login</h1>
            <form action="signIn" method="post">
                <fieldset>
                    <legend class="d:none">인증정보</legend>
                    <label class="d:none">아이디</label>
                    <input type="text" name="username" placeholder="아이디">
                    <label class="d:none">비밀번호</label>
                    <input class="mt:3" name="password" type="password" placeholder="비밀번호">
                </fieldset>
                <div class="mt:5">
                    <button class="btn btn-main w:1" type="submit">로그인</button>
                    <span class="w:1 d:inline-flex justify-content:center mt:3">또는</span>
               <a class="btn w:1 mt:3 al" href="https://accounts.google.com/o/oauth2/auth?client_id=663368504469-j5jg45a0815k4t0co8cj45mjevlr5m88.apps.googleusercontent.com&redirect_uri=http://localhost:8082/login/oauth2/code/google&response_type=code&scope=https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/userinfo.profile">
                        <span class="deco icon-google icon-size:3 w:1 d:inline-flex justify-content:center">구글 로그인</span>
                    </a>

                <div class="mt:3 d:flex justify-content:center">
                    <a href="">회원가입</a>
                    <a href="" class="bl:1 bc:base-6 bls:solid ml:3 pl:3">비밀번호 찾기</a>
                </div>
            </form>
        </section>
    </main>
</body>
</html>
<script src="https://accounts.google.com/gsi/client" async defer></script>
<script>
    function handleCredentialResponse(response) {
      console.log("Encoded JWT ID token: " + response.credential);
    }
    window.onload = function () {
      google.accounts.id.initialize({
        client_id: "YOUR_GOOGLE_CLIENT_ID",
        callback: handleCredentialResponse
      });
      google.accounts.id.renderButton(
        document.getElementById("buttonDiv"),
        { theme: "outline", size: "large" }  // customization attributes
      );
      google.accounts.id.prompt(); // also display the One Tap dialog
    }
</script>